

.topAbout__wrapper{
  padding: 10rem 1rem 14rem;
  height: 100vh;

  @include mq(md){
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 18rem 0 23rem;
    max-width: 120rem;
    margin: 0 auto;
  }
}

.topAbout__ttl{
  font-size: 1.4rem;
  font-family: $poppins;
  margin-bottom: 6rem;

  @include mq(md){
    font-weight: 500;
    margin-bottom: 0;
    font-size: 2rem;
    grid-column: 1 / 4;

  }
}

.topAbout__txtWrap{

  @include mq(md){
  grid-column: 6 / 13;
    
  }
}

.topAbout__txt{
  font-size: 1.6rem;
  line-height: 2.6;
  font-weight: 500;
  letter-spacing: 0.1em;
  
  @include mq(md){
    letter-spacing: 0.28em;
    font-size: 1.6rem;
  }
}