

.topAbout__wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 0;
}

.topAbout__ttl{
  font-size: 2rem;
  font-weight: 500;
  grid-column: 1 / 4;
  font-family: $poppins;
}

.topAbout__txtWrap{
  grid-column: 6 / 13;
}

.topAbout__txt{
  font-size: 1.6rem;
  letter-spacing: 0.28em;
  line-height: 2.6;
  font-weight: 500;
}