.topKv{
  height: 100vh;
  position: relative;
}

.topKv__ttl{
  font-size: 3rem;
  color: #30493d;
  position: absolute;
  letter-spacing: 0.03em;
  font-family: $playfair;
  font-family: $poppins;

  @include mq(md){
    line-height: 1;
    font-size: calcvwPc(240);
    font-weight: 100;
    left: calcvwPc(30);
    top: calcvwPc(30);
    line-height: 0.9;
  }
}

.topKv__txtWrap{
  position: absolute;
  right: calcvwPc(80);
  bottom: calcvwPc(70);
  
  @include mq(md){
    
  }
}

.topKv__txt{

  @include mq(md){
    font-size: calcvwPc(16);
    font-weight: 500;
    letter-spacing: 0.5em;
  }
}
