.topGallery{
  background: #30493d;
}

.topGallery__card{

  @include mq(md){
    width: 33.3%;
  }
}

.galleryCard{
  position: relative;
}

.galleryCard::before,
.galleryCard::after{
  content: '';
  position: absolute;
  background: #ECEAE0;
}

.galleryCard::before{
  height: 100%;
  width: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.galleryCard::after{
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  height: 1px;
}

.galleryCard__link{
  display: block;
  padding: 8rem 10% 6rem;
  position: relative;
}

.galleryCard__videoWrap{
  display: block;
  border-radius: 10px;
  overflow: hidden;

  @include mq(md){
    margin-bottom: 2rem;
  }
}

.galleryCard__video{
  width: 100%;
}

.galleryCard__catList{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid #ECEAE0;
  border-right: 1px solid #ECEAE0;
  background: #ECEAE0;

  @include mq(md){
    margin-bottom: 2rem;
  }
}

.galleryCard__cat{
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.1rem 3rem;
  color: #30493d;
}

.galleryCard__cat:not(:first-of-type){
  border-left: 1px solid #30493d;
}

.galleryCard__box{
  margin-bottom: 3rem;
  text-align: center;
}

.galleryCard__box .num{
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  background: #ECEAE0;
  border-radius: 30px;
  font-weight: 700;
  padding: 0.2rem 1.6rem 0.3rem;
  color: #30493d;
  line-height: 1;
  display: inline-block;
  margin-bottom: 1.2rem;
}

.galleryCard__box .ttl{
  font-size: 1.6rem;
  letter-spacing: 0.38em;
  text-align: center;
  font-weight: 500;
  color: #ECEAE0;
}

.galleryCard__btnWrap{
  text-align: center;
  justify-content: center;
  position: relative;
  display: flex;
  gap: 1rem;
}

.galleryCard__btn{
  position: relative;
}

.galleryCard__btn::after{
  content: '';
  position: absolute;
  background: url();
  height: 2rem;
  width: 0.8rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url(../../assets/img/common/icon-arrow.svg) center center / contain no-repeat;

}

.galleryCard__btn button{
  padding: 1rem 2rem 2.4rem 2rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 1.3rem;
  font-family: $poppins;
  position: relative;
  color: #ECEAE0;

}


.topGalleryModal{
  position: fixed;
  width: 96%;
  height: 96vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.topGalleryModal__close{
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 0;
  top: 0;
  cursor: pointer;
}

.topGalleryModal__close::before,
.topGalleryModal__close::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 2px;
  background: $c-white;
}

.topGalleryModal__close::before{
  transform: translate(-50%, -50%) rotate(45deg);
}

.topGalleryModal__close::after{
  transform: translate(-50%, -50%) rotate(-45deg);
}


.topGalleryModal__wrapper{
  overflow-x: scroll;
  padding: 6rem 8rem;
  border-radius: 3px;
  height: 100%;
  clip-path: polygon(calc(100% - 60px) 0, calc(100% - 60px) 60px, 100% 60px, 100% 70%, 100% 100%, 50% 100%, 20% 100%, 0 100%, 0% 35%, 0 0);
  background: #ECEAE0;

}

.topGalleryModal__ttl{
  position: absolute;
  top: -2px;
  left:-2px;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: $poppins;
  background: #ECEAE0;
  color: #30493d;
  padding: 0.6rem 1.4rem;
  border-bottom-right-radius: 3px;
}

.topGalleryModal__codeWrap{
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}

.topGalleryModal__code{
  background: #30493d;
  position: relative;
  padding: 3rem 8% 2rem;
}

.topGalleryModal__detail{
}

.topGalleryModal__detail code{
  font-weight: 500;
  font-size: 1.5rem;
  color: #ECEAE0;
}

.copy-btn{
  position: absolute;
  top: 0;
  right: 0;
  color: #ECEAE0;
  padding: 0.4rem 2rem;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 1.4rem;
  top: 2rem;
  right: 2rem;
  font-family: $poppins;
  cursor: pointer;
  color: $c-black;
  border-radius: 3px;
  background: $c-white;
}

.topGalleryModal__list{
  display: flex;
  border-bottom: 1px solid $c-white;
}

.topGalleryModal__item{
  padding: 1rem 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: 1.4rem;
  border-right: 1px solid $c-white;
  border-top: 1px solid $c-white;
  font-family: $poppins;
  background: $c-black;
  color: $c-white;
  cursor: pointer;
  opacity: 0.7;
}

.topGalleryModal__item.active{
  opacity: 1;
}

pre code {
  white-space: pre-wrap;  /* ←自動で折り返し */
  word-break: break-all;  /* ←単語の途中でも折り返す */
}