.topGallery{
  padding-top: 3rem;
}


.topGallery__card{

  @include mq(tb){
    width: 50%;
  }

  @include mq(md){
    width: 33.3%;
  }
}

.galleryCard{
  position: relative;
  border-top: #30493d solid 2px;
  background: $c-black;
}

.galleryCard:not(:first-of-type){

  border-top: 2px solid $c-white;
  @include mq(tb){
  }
  @include mq(md){
    border-top: 0;

    border-left: 2px solid $c-white;    
  }
}

.galleryCard:nth-child(2n) {

  @include mq(tb) {
    border-top: 0;
    border-left: 2px solid $c-white;
  }
}

.galleryCard__link{
  display: block;
  padding: 8rem 4% 6rem;
  position: relative;

  @include mq(md){
    padding-left: 8%;
    padding-right: 8%;
  }
}

.galleryCard__videoContent{
  position: relative;
}

.galleryCard__videoWrap{
  display: block;
  border-radius: 4px;
  margin-bottom: 0.6rem;
  aspect-ratio: 1.5;
  background: $c-white;
  position: relative;
  overflow: hidden;

  @include mq(md){
    margin-bottom: 1rem;
  }
}

.galleryCard__play{
  position: absolute;
  font-size: 1.2rem;
  padding: 0.6rem 1.8rem;
  background: $c-white;
  color: $c-black;
  font-weight: 600;
  border-radius: 3px;
  bottom: -3.4rem;
  letter-spacing: 0.1em;
  line-height: 1;
  right: 0;
  font-family: $poppins;

  @include mq(md){
    display: none;
  }
}

.galleryModal__play{
  position: absolute;
  font-size: 1.2rem;
  padding: 0.6rem 1.8rem;
  background: $c-black;
  color: $c-white;
  font-weight: 600;
  border-radius: 3px;
  bottom: -3.4rem;
  letter-spacing: 0.1em;
  line-height: 1;
  right: 0;
  font-family: $poppins;

  @include mq(md){
    display: none;
  }
}


.galleryModal__videoContent{
  position: relative;
}
.galleryCard__videoTxt{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleryCard__videoTxt p{
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: $c-black;
  text-align: center;
  line-height: 1;
}

.galleryCard__video{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}


.galleryCard__tagList{
  margin-bottom: 4rem;
  display: flex;
  gap: 0.4rem 1.4rem;
  flex-wrap: wrap;
  padding-right: 8rem;

  @include mq(md){
    padding-right: 0;
  }
}

.galleryCard__tag{
  font-size: 1.2rem;
  padding-left: 1rem;
  color: $c-white;
  position: relative;
  font-weight: 500;

  @include mq(md){
    font-size: 1.3rem;
  }
}

.galleryCard__tag::before{
  position: absolute;
  content: "#";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  line-height: 1;
}

.galleryCard__catList{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  background: #ECEAE0;

  @include mq(md){
    margin-bottom: 2rem;
  }
}

.galleryCard__cat{
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.1rem 3rem;
  color: #30493d;
  border-left: 2px solid #30493d;

  @include mq(md){
    border-left: 0;
  }
}

.galleryCard__cat:not(:first-of-type){
  
  @include mq(md){
    border-left: 2px solid #30493d;
  }
}

.galleryCard__box{
  margin-bottom: 3rem;
  text-align: center;
}

.galleryCard__box .num{
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  background: #ECEAE0;
  border-radius: 30px;
  font-weight: 700;
  padding: 0.2rem 1.6rem 0.3rem;
  color: #30493d;
  line-height: 1;
  display: inline-block;
  margin-bottom: 1.2rem;
}

.galleryCard__box .ttl{
  font-size: 1.6rem;
  letter-spacing: 0.38em;
  text-align: center;
  font-weight: 500;
  color: #ECEAE0;

  @include mq(md){
    font-size: 1.8rem;
  }
}

.galleryCard__btnWrap{
  text-align: center;
  justify-content: center;
  position: relative;
  display: flex;
  gap: 2rem;
}

.galleryCard__btn--code{
  position: relative;
}

.galleryCard__btn--code::after{
  content: '';
  position: absolute;
  background: url();
  height: 2rem;
  width: 0.8rem;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../assets/img/common/icon-arrow.svg) center center / contain no-repeat;
}

.galleryCard__btn button,
.galleryCard__btn a{
  padding: 1rem 2.2rem 1rem 0;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 1.4rem;
  position: relative;
  color: #ECEAE0;
  display: inline-block;
  line-height: 1;
  cursor: pointer;

  @include mq(md){
    font-size: 1.6rem;
  }
}


.galleryCard__btn a::after{
  content: '';
  position: absolute;
  background: url();
  height: 2.3rem;
  width: 2.3rem;
  right: 0;
  top: 14%;
  background: url(../../assets/img/common/icon-newwindow.svg) center center / contain no-repeat;
}


.topGalleryModal{
  position: fixed;
  width: 96%;
  height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 60;
}

.topGalleryModal__close{
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 0;
  top: 0;
  cursor: pointer;
}

.topGalleryModal__close::before,
.topGalleryModal__close::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 2px;
  background: $c-white;
}

.topGalleryModal__close::before{
  transform: translate(-50%, -50%) rotate(45deg);
}

.topGalleryModal__close::after{
  transform: translate(-50%, -50%) rotate(-45deg);
}


.topGalleryModal__wrapper{
  overflow-x: scroll;
  padding: 10rem 4% 6rem;
  border-radius: 3px;
  height: 100%;
  clip-path: polygon(calc(100% - 60px) 0, calc(100% - 60px) 60px, 100% 60px, 100% 70%, 100% 100%, 50% 100%, 20% 100%, 0 100%, 0% 35%, 0 0);
  background: #ECEAE0;


  @include mq(md){
    padding: 6rem 8rem;
  }

}

.topGalleryModal__ttl{
  position: absolute;
  top: -2px;
  left:-2px;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: $poppins;
  background: #ECEAE0;
  color: #30493d;
  padding: 0.6rem 1.4rem;
  border-bottom-right-radius: 3px;
}

.topGalleryModal__codeWrap{
  border-radius: 0 0 3px 3px;
  position: relative;
}

.topGalleryModal__code{
  background: #30493d;
  position: relative;
  padding: 4rem 4% 0;
  overflow-x: scroll;
  

  @include mq(md){
  padding: 5rem 8% 2rem;
    
  }
}

.topGalleryModal__detail{
}

.topGalleryModal__detail code{
  font-weight: 500;
  font-size: 1.3rem;
  color: #ECEAE0;

  @include mq(md){
  font-size: 1.5rem;
    
  }
}

.copy-btn{
  position: absolute;
  top: 0;
  right: 0;
  color: #ECEAE0;
  padding: 0.4rem 2rem;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 1.2rem;
  top: 2rem;
  right: 2rem;
  font-family: $poppins;
  cursor: pointer;
  color: $c-black;
  border-radius: 3px;
  background: $c-white;
  z-index: 1;

  @include mq(md){
    font-size: 1.4rem;
  }
}


.topGalleryModal__sample{

}

.topGalleryModal__list{
  display: flex;
  border-bottom: 2px solid $c-white;
}

.topGalleryModal__item{
  padding: 1rem 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: 1.3rem;
  border-right: 2px solid $c-white;
  border-top: 2px solid $c-white;
  font-family: $poppins;
  background: $c-black;
  color: $c-white;
  cursor: pointer;
  opacity: 0.7;

  @include mq(md){
    font-size: 1.4rem;
  }
}

.topGalleryModal__item.active{
  opacity: 1;
}

pre code {
  // white-space: pre-wrap;  /* ←自動で折り返し */
  // word-break: break-all;  /* ←単語の途中でも折り返す */
}

.language-html,
.language-css,
.language-javascript{
  background: #30493d!important;
  font-size: 1.2rem!important;

  @include mq(md){
    font-size: 1.4rem!important;
  }
}

code[class*="language-"], pre[class*="language-"]{
  text-shadow: none!important;
  color: #fff!important; /* 白色 */
}
.language-html {
  background-color: #30493d; /* 深いダークグリーン */
}

/* タグ名（<section> や </section>） */
.token.tag,
.token.property,
.token.function{
  color: #FC4C3B!important;      /* Nord の “red” */
}

/* 属性名（class, id など） */
.token.attr-name {
  color: #97c4fb!important;      /* Nord の “blue” */
}

/* 属性値（"hoge" の中身） */
.token.attr-value,
.token.selector {
  color: #b2da6e!important;      /* Nord の “green” */
}

/* 文字列リテラル ('foo' や "bar") */
.token.string {
  color: #ebcb8b!important;      /* Nord の “yellow” */
}

/* コメント */
.token.comment {
  color: #aeb0b3!important;      /* Nord の “gray” */
  font-style: italic!important;
}

/* 予約語（if, function など） */
.token.keyword {
  color: #b48ead!important;      /* Nord の “purple” */
}

.token.punctuation{
  color: #fff!important; /* 白色 */
}

code span{
  background: transparent!important;
  font-size: 1.2rem!important;

  @include mq(md){
    font-size: 1.4rem!important;
  }
}

.token.operator{
  color: #fff!important; /* 白色 */ 
}

.token.keyword,
.token.number{
  color: #b2da6e !important;
}


.topGalleryModal__box{

  @include mq(md){
    display: flex;
    gap: 3rem;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}


.galleryModal__videoWrap{
  display: block;
  border-radius: 4px;
  overflow: hidden;
  aspect-ratio: 1.5;
  background: $c-white;
  border: 2px solid $c-black;
  margin-bottom: 1rem;
  position: relative;
  
  @include mq(md){
    width: 36rem;
    margin-bottom: 0;
  }
}

.galleryModal__img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.galleryModal__video{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}



.topGalleryModal__sample a{
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding-bottom: 1rem;
  border-bottom: 1px solid $c-black;
  display: inline-block;
}

.topGalleryModal__info{
  margin-bottom: 4rem;

  @include mq(md){
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 4rem;
  }
}

.topGalleryModal__header{
  margin-bottom: 2rem;

  @include mq(md){
    margin-bottom: 0;
  }
}

.topGalleryModal__header .num{
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  background: $c-black;
  border-radius: 30px;
  font-weight: 700;
  padding: 0.2rem 1.6rem 0.3rem;
  color: $c-white;
  line-height: 1;
  display: inline-block;
  margin-bottom: 0.3rem;
}

.topGalleryModal__header .ttl{
  font-size: 2.3rem;
  letter-spacing: 0.2em;
  margin-bottom: 0.6rem;
  @include mq(md){
    font-size: 4rem;
    margin-bottom: 1.2rem;
  }
}

.topGalleryModal__header .tags{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

.topGalleryModal__header .tag{
  font-size: 1.2rem;
  position: relative;
  padding-left: 1rem;

  @include mq(md){
    font-size: 1.4rem;
  }
}

.topGalleryModal__header .tag::before{
  position: absolute;
  content: "#";
  font-size: 1.2rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  @include mq(md){
    font-size: 1.4rem;
  }
}


.sample__wrap{
  position: relative;
}


.sample__box {
  width: 1px;
  height: 5rem;
  position: absolute;
  bottom: -90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;

  @include mq(md){
    bottom: -70px;
  }
}

.sample__line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 50%);
  background-position: 0 -50px;
  background-size: 100% 200%;
  animation: scroll 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;

  @include mq(md){
    background-position: 0 -50px;
  }
}

@keyframes scroll {
  0%{
    background-position: 0 -50px;
  }
  75% {
    background-position: 0 0;
  }
  100%{
    background-position: 0 50px;
  }
}
