// ====================================
// Font関係のスタイルシート
// ====================================
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

$zen-maru: "Zen Maru Gothic", sans-serif;
$zen-kaku: "Zen Kaku Gothic New", sans-serif;
$playfair: "Playfair Display", serif;
$poppins: "Poppins", sans-serif;
$noto-sans: "Noto Sans JP", sans-serif;
