@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&family=Zen+Old+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

button {
  border: 0;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #30493d;
  background: #ECEAE0;
  font-family: "Noto Sans JP", sans-serif;
  color: #30493d;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

p {
  text-align: justify;
}

li {
  list-style: none;
}

a {
  color: #30493d;
}

.hpc {
  display: none;
}

.vtb {
  display: none;
}

.vpc {
  display: none;
}

.footer {
  padding: 1rem;
  text-align: center;
  text-align: center;
}

.footer__copy {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 500;
}

.topGallery {
  background: #30493d;
}

.galleryCard {
  position: relative;
}

.galleryCard::before,
.galleryCard::after {
  content: "";
  position: absolute;
  background: #ECEAE0;
}

.galleryCard::before {
  height: 100%;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.galleryCard::after {
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  width: 100%;
  height: 1px;
}

.galleryCard__link {
  display: block;
  padding: 8rem 10% 6rem;
  position: relative;
}

.galleryCard__videoWrap {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.galleryCard__video {
  width: 100%;
}

.galleryCard__catList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid #ECEAE0;
  border-right: 1px solid #ECEAE0;
  background: #ECEAE0;
}

.galleryCard__cat {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.1rem 3rem;
  color: #30493d;
}

.galleryCard__cat:not(:first-of-type) {
  border-left: 1px solid #30493d;
}

.galleryCard__box {
  margin-bottom: 3rem;
  text-align: center;
}

.galleryCard__box .num {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  background: #ECEAE0;
  border-radius: 30px;
  font-weight: 700;
  padding: 0.2rem 1.6rem 0.3rem;
  color: #30493d;
  line-height: 1;
  display: inline-block;
  margin-bottom: 1.2rem;
}

.galleryCard__box .ttl {
  font-size: 1.6rem;
  letter-spacing: 0.38em;
  text-align: center;
  font-weight: 500;
  color: #ECEAE0;
}

.galleryCard__btnWrap {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.galleryCard__btn {
  position: relative;
}

.galleryCard__btn::after {
  content: "";
  position: absolute;
  background: url();
  height: 2rem;
  width: 0.8rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../../assets/img/common/icon-arrow.svg) center center/contain no-repeat;
}

.galleryCard__btn button {
  padding: 1rem 2rem 2.4rem 2rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  color: #ECEAE0;
}

.topGalleryModal {
  position: fixed;
  width: 96%;
  height: 96vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.topGalleryModal__close {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 0;
  top: 0;
  cursor: pointer;
}

.topGalleryModal__close::before,
.topGalleryModal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 2px;
  background: #ECEAE0;
}

.topGalleryModal__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.topGalleryModal__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.topGalleryModal__wrapper {
  overflow-x: scroll;
  padding: 6rem 8rem;
  border-radius: 3px;
  height: 100%;
  clip-path: polygon(calc(100% - 60px) 0, calc(100% - 60px) 60px, 100% 60px, 100% 70%, 100% 100%, 50% 100%, 20% 100%, 0 100%, 0% 35%, 0 0);
  background: #ECEAE0;
}

.topGalleryModal__ttl {
  position: absolute;
  top: -2px;
  left: -2px;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background: #ECEAE0;
  color: #30493d;
  padding: 0.6rem 1.4rem;
  border-bottom-right-radius: 3px;
}

.topGalleryModal__codeWrap {
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}

.topGalleryModal__code {
  background: #30493d;
  position: relative;
  padding: 3rem 8% 2rem;
}

.topGalleryModal__detail code {
  font-weight: 500;
  font-size: 1.5rem;
  color: #ECEAE0;
}

.copy-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #ECEAE0;
  padding: 0.4rem 2rem;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 1.4rem;
  top: 2rem;
  right: 2rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: #30493d;
  border-radius: 3px;
  background: #ECEAE0;
}

.topGalleryModal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ECEAE0;
}

.topGalleryModal__item {
  padding: 1rem 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: 1.4rem;
  border-right: 1px solid #ECEAE0;
  border-top: 1px solid #ECEAE0;
  font-family: "Poppins", sans-serif;
  background: #30493d;
  color: #ECEAE0;
  cursor: pointer;
  opacity: 0.7;
}

.topGalleryModal__item.active {
  opacity: 1;
}

pre code {
  white-space: pre-wrap; /* ←自動で折り返し */
  word-break: break-all; /* ←単語の途中でも折り返す */
}

.topAbout__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 0;
}

.topAbout__ttl {
  font-size: 2rem;
  font-weight: 500;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-family: "Poppins", sans-serif;
}

.topAbout__txtWrap {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
}

.topAbout__txt {
  font-size: 1.6rem;
  letter-spacing: 0.28em;
  line-height: 2.6;
  font-weight: 500;
}

.topGallery__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: #30493d solid 1px;
}

.topGalleryModal__bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  cursor: pointer;
}

.topGalleryModal__close {
  position: absolute;
  width: 6rem;
  height: 6rem;
}

.topKv {
  height: 100vh;
  position: relative;
}

.topKv__ttl {
  font-size: 3rem;
  color: #30493d;
  position: absolute;
  letter-spacing: 0.03em;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

.topKv__txtWrap {
  position: absolute;
  right: 5.5555555556vw;
  bottom: 4.8611111111vw;
}

.fadeUp {
  opacity: 0;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.fadeUp.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.fadeUp50 {
  opacity: 0;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.fadeUp50.active {
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.fadeMask {
  position: relative;
}
.fadeMask img {
  opacity: 0;
  -webkit-transform: translateY(0.4rem);
          transform: translateY(0.4rem);
  -webkit-transition: all 0.4s ease-in 0.8s;
  transition: all 0.4s ease-in 0.8s;
}
.fadeMask::before {
  content: "";
  display: inline-block;
  background: #2B2A2A;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.fadeMask.active img {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.fadeMask.active::before {
  width: 0%;
}
.fadeIn {
  opacity: 0;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
.fadeIn.active {
  opacity: 1;
}
@media screen and (min-width: 48em) {
  .hsp {
    display: none;
  }
  .hpc {
    display: block;
  }
  .vsp-tb {
    display: none;
  }
  .vtb {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .vsp {
    display: none;
  }
  .vpc {
    display: block;
  }
  .topGallery__card {
    width: 33.3%;
  }
  .galleryCard__videoWrap {
    margin-bottom: 2rem;
  }
  .galleryCard__catList {
    margin-bottom: 2rem;
  }
  .topKv__ttl {
    line-height: 1;
    font-size: 16.6666666667vw;
    font-weight: 100;
    left: 2.0833333333vw;
    top: 2.0833333333vw;
    line-height: 0.9;
  }
  .topKv__txt {
    font-size: 1.1111111111vw;
    font-weight: 600;
    letter-spacing: 0.5em;
  }
}
/*# sourceMappingURL=style.css.map */
